@import url("https://fonts.googleapis.com/css?family=Merriweather:700|Open+Sans&display=swap&subset=cyrillic");
body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img, abbr {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

iframe,
figure {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  margin: 0;
  overflow-x: hidden;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  font-family: 'Merriweather', serif;
  font-weight: bold;
}

.h1, h1,
.h2, h2
.h3, h3,
.h4, h4 {
  text-transform: uppercase;
}

.h1, h1 {
  font-size: 7vh;
}

@media screen and (max-width: 960px) {
  .h1, h1 {
    font-size: 5vh;
  }
}

@media screen and (max-width: 780px) {
  .h1, h1 {
    font-size: 3.8vh;
  }
}

.h2, h2 {
  font-size: 3.7vh;
}

@media screen and (max-width: 780px) {
  .h2, h2 {
    font-size: 3vh;
  }
}

.h2.primary-style, h2.primary-style {
  text-align: center;
}

.h2.primary-style:before, .h2.primary-style:after, h2.primary-style:before, h2.primary-style:after {
  display: inline-block;
  vertical-align: middle;
}

.h2.primary-style:before, h2.primary-style:before {
  content: url("../img/icons/qoute-left.svg");
  margin-right: 1rem;
}

.h2.primary-style:after, h2.primary-style:after {
  content: url("../img/icons/qoute-right.svg");
  margin-left: 1rem;
}

.h3, h3 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.h4, h4 {
  font-size: 1.8rem;
}

ul {
  list-style-type: none;
  color: #42403F;
}

p {
  color: #42403F;
  margin-bottom: 2rem;
}

.section {
  padding: 10rem 0;
  position: relative;
}

.section .subtitle {
  max-width: 35rem;
  margin: 2rem auto 5rem auto;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-weight: bold;
}

.section .subtitle.wide {
  max-width: 63rem;
}

.section .container {
  position: relative;
}

.img-wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 100%;
}

.container {
  max-width: 1410px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 780px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.container-full {
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 780px) {
  .container-full {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.btn {
  display: inline-block;
  text-align: center;
  font-size: 1.2rem;
  text-transform: uppercase;
  border: none;
  max-width: 100%;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn.btn-primary, .btn.btn-black {
  padding: 2.2rem 1rem;
  -webkit-box-shadow: 0px 4px 4px rgba(193, 146, 70, 0.25);
          box-shadow: 0px 4px 4px rgba(193, 146, 70, 0.25);
  min-width: 35rem;
}

@media screen and (max-width: 960px) {
  .btn.btn-primary, .btn.btn-black {
    min-width: unset;
  }
}

.btn.btn-black {
  background-color: #191514;
  color: #fff;
}

.btn.btn-primary {
  background-color: #D5A353;
  color: #191514;
}

.btn.btn-primary:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

.btn.btn-inverse {
  padding: 1.2rem 2rem;
  background-color: transparent;
  border: 1px solid #D5A353;
  color: #D5A353;
}

.btn.btn-inverse:hover {
  background-color: #D5A353;
  color: #fff;
}

.btn.btn-block {
  display: block;
  width: 100%;
}

.btn.btn-sm {
  padding: 1rem 3.7rem;
  min-width: unset;
}

.input-wrapper {
  margin-bottom: 4rem;
  font-size: 1.6rem;
  text-align: left;
  border-bottom: 1px solid #D5A353;
  padding: .5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.input-wrapper.user-icon:before, .input-wrapper.mail-icon:before, .input-wrapper.phone-icon:before {
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  margin: 0 1.5rem;
  -webkit-filter: saturate(0);
          filter: saturate(0);
  -webkit-transition: .3s;
  transition: .3s;
}

.input-wrapper.user-icon:before {
  content: url("../img/icons/user.svg");
}

.input-wrapper.mail-icon:before {
  content: url("../img/icons/mail.svg");
}

.input-wrapper.phone-icon:before {
  content: url("../img/icons/phone.svg");
}

.input-wrapper:hover:before {
  -webkit-filter: saturate(1);
          filter: saturate(1);
}

.input-wrapper input {
  border: none;
  width: 100%;
  background: transparent;
}

navbar {
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 2rem 0;
}

@media screen and (max-width: 780px) {
  navbar {
    padding: 1rem 0;
  }
}

navbar .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

navbar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100px;
          flex: 1 1 100px;
  max-width: 65rem;
}

@media screen and (max-width: 1100px) {
  navbar .menu {
    display: none;
  }
}

navbar .menu li a {
  font-size: 1.1rem;
  margin: 1.5rem;
  color: #fff;
  text-transform: uppercase;
  opacity: .7;
  -webkit-transition: .3s;
  transition: .3s;
}

navbar .menu li a:hover {
  opacity: 1;
}

navbar .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 1100px) {
  navbar .info {
    display: none;
  }
}

navbar .info .primary-text {
  margin-bottom: 0.2rem;
}

.primary-text {
  color: #D5A353;
  font-size: 1.6rem;
}

.img-wrapper img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

header {
  background: #0F0F0F url("../img/banner_home.jpg") center/cover no-repeat;
  min-height: 100vh;
  text-align: center;
  color: #fff;
}

header p {
  color: #fff;
}

header .h1 {
  color: #D5A353;
  margin-top: 7vh;
  margin-bottom: 1rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header .h1 .normal {
  text-transform: none;
}

header .subtitle {
  font-size: 2.2vh;
  font-family: 'Merriweather', serif;
  font-weight: bold;
}

header .features {
  margin: 3.7vh -1.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 560px) {
  header .features {
    margin: 3.7vh 0;
  }
}

@media screen and (max-width: 560px) {
  header .features {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

header .features .feature {
  margin: 3vh;
}

@media screen and (max-width: 560px) {
  header .features .feature {
    margin: 1vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: left;
  }
}

header .features .img-wrapper {
  height: 8.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 560px) {
  header .features .img-wrapper {
    margin-right: 2rem;
    margin-bottom: 0;
    width: 5rem;
  }
  header .features .img-wrapper img {
    width: 100%;
  }
}

header .btn {
  margin-top: 3rem;
  padding: 2.2rem 9rem;
  margin-bottom: 5rem;
}

@media screen and (max-width: 960px) {
  header .btn {
    padding: 1.5rem 2rem;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 6.2rem;
}

@media screen and (max-width: 780px) {
  .logo {
    height: 4.4rem;
  }
}

.logo-image {
  height: 100%;
}

.logo-text {
  margin-left: 1rem;
  height: 100%;
}

@media (max-width: 360px) {
  .logo-text {
    display: none;
  }
}

.burger {
  cursor: pointer;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: none;
  z-index: 50;
}

@media screen and (max-width: 1100px) {
  .burger {
    display: block;
  }
}

.burger .line {
  fill: none;
  -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #D5A353;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.burger .top {
  stroke-dasharray: 40 82;
}

.burger .middle {
  stroke-dasharray: 40 111;
}

.burger .bottom {
  stroke-dasharray: 40 161;
}

.burger.active .top {
  stroke-dasharray: 17 82;
  stroke-dashoffset: -62px;
}

.burger.active .middle {
  stroke-dashoffset: 23px;
}

.burger.active .bottom {
  stroke-dashoffset: -83px;
}

.burger.active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.scissors:before {
  content: url("../img/icons/scissors.svg");
  margin-bottom: 2rem;
  display: block;
  text-align: center;
}

#teachers {
  padding-bottom: 0;
}

#teachers.bg-straight-razor:before {
  z-index: 0;
}

.teachers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.teachers .teacher {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10rem;
}

@media screen and (max-width: 780px) {
  .teachers .teacher {
    width: calc(100% - 30px);
  }
}

.teachers .teacher .img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5rem;
  width: 100%;
  height: 46.6rem;
}

@media screen and (max-width: 780px) {
  .teachers .teacher .img-wrapper {
    height: auto;
  }
}

.teachers .teacher .img-wrapper img {
  max-width: 100%;
}

.teachers .teacher .h3 {
  text-transform: uppercase;
}

ul.primary-style li {
  margin-bottom: 1rem;
  margin-left: 2.5rem;
}

ul.primary-style li:before {
  content: '';
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 1rem;
  display: inline-block;
  background-color: #D5A353;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-left: -2.3rem;
}

.parrallax-speed-3 {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.parrallax-speed-2 {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.parrallax-speed-1 {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.simpleParallax {
  overflow: visible !important;
}

.bg-item {
  position: absolute;
  z-index: 0;
}

@media screen and (max-width: 780px) {
  .bg-item {
    display: none;
  }
}

.bg-item.left-position {
  left: 8rem;
  top: 0rem;
}

.bg-item.center-position {
  left: 50%;
  top: 20%;
  z-index: 0;
  -webkit-transform: translateX(-50%) scale(0.9);
          transform: translateX(-50%) scale(0.9);
}

.bg-item.right-position {
  top: 0rem;
  right: 8rem;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

#no-bullshit {
  padding-bottom: 0;
}

#no-bullshit .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#no-bullshit .row .column-1,
#no-bullshit .row .column-2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
}

#no-bullshit .row .column-1 .img-wrapper {
  height: 100%;
  overflow: hidden;
}

#no-bullshit .row .column-1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 2.5s;
  transition: 2.5s;
}

#no-bullshit .row .column-1 img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#no-bullshit .row .column-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #F9F6F2;
  padding: 10rem 5rem 10rem 5rem;
}

#no-bullshit .row .column-2 .content {
  max-width: 60rem;
  font-size: 1.6rem;
}

#no-bullshit .row p {
  margin-bottom: 3rem;
}

#boroda-features .features {
  text-align: center;
}

@media screen and (max-width: 780px) {
  #boroda-features .features .lazy {
    display: none !important;
  }
}

#boroda-features .features .mobile {
  display: none;
}

#boroda-features .features .mobile li {
  margin-bottom: 3rem;
}

#boroda-features .features .mobile li .h4 {
  color: #D5A353;
  display: block;
}

#boroda-features .features .mobile li:before {
  content: url("../img/icons/plus.svg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2rem;
  height: 2rem;
  padding: 2rem;
  background-color: #D5A353;
  border-radius: 50%;
  margin: 1rem auto;
}

@media screen and (max-width: 780px) {
  #boroda-features .features .mobile {
    display: block;
  }
}

.gray-text {
  font-family: 'Merriweather', serif;
  font-weight: bold;
}

#courses {
  background: -webkit-gradient(linear, left top, right top, from(rgba(25, 20, 18, 0.85)), to(rgba(25, 20, 18, 0.85))), url("../img/couses-bg-compressed.jpg") center/cover;
  background: linear-gradient(to right, rgba(25, 20, 18, 0.85) 0%, rgba(25, 20, 18, 0.85) 100%), url("../img/couses-bg-compressed.jpg") center/cover;
  color: #fff;
}

#courses .subtitle {
  max-width: 31rem;
}

#courses .gray-text {
  text-align: center;
  opacity: .6;
}

.courses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.courses .course {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(25% - 30px);
  background-color: #fff;
  margin-bottom: 3rem;
  max-width: 350px;
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (max-width: 1100px) {
  .courses .course {
    width: calc(100% - 30px);
  }
}

.courses .course .h4 {
  color: #D5A353;
  margin-bottom: .5rem;
}

.courses .course .head,
.courses .course .foot {
  text-align: center;
}

.courses .course .head {
  padding: 2rem;
  height: 12rem;
  border-bottom: 1px solid #E4E4E4;
}

.courses .course .head p {
  color: #7E7A78;
}

.courses .course .body {
  padding: 2rem 3rem 2rem 2rem;
  min-height: 35rem;
  border-bottom: 1px solid #D5A353;
}

.courses .course .body li {
  margin-bottom: 2rem;
}

.courses .course .foot {
  height: 12rem;
  margin: 2rem;
}

.courses .course .foot .h4 {
  margin: 2rem 0;
}

.courses .course .foot .btn {
  display: block;
}

.courses .course:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -.8rem;
}

.gallery .img-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
  margin: .8rem;
}

.gallery .img-wrapper img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.gallery .pair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gallery .pair .img-wrapper {
  height: 15rem;
}

@media screen and (max-width: 780px) {
  .gallery .pair {
    width: 100%;
  }
}

@media screen and (max-width: 780px) {
  #employment {
    text-align: center;
  }
}

@media screen and (max-width: 780px) {
  #employment .h2 {
    font-size: 2vh;
  }
}

#employment .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5rem 0 0 0;
}

@media screen and (max-width: 780px) {
  #employment .row {
    margin: 2rem 0;
  }
}

#employment .row .column-1,
#employment .row .column-2 {
  margin: 2rem 6.5rem;
}

@media screen and (max-width: 780px) {
  #employment .row .column-1,
  #employment .row .column-2 {
    margin: 3rem 0;
  }
}

#employment .row .column-1 p {
  max-width: 35rem;
  font-size: 1.6rem;
  color: #191514;
  margin-bottom: 7rem;
}

@media screen and (max-width: 780px) {
  #form-section .h2 {
    font-size: 2vh;
  }
}

.form-style {
  max-width: 55rem;
  margin: auto;
  text-align: center;
}

.form-style .btn {
  margin-bottom: 2rem;
}

#contacts .row {
  margin-top: 5.5rem;
  margin-bottom: -3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

#contacts .row .map {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(58.33333% - 30px);
  height: 44rem;
  padding: 0;
  margin-bottom: 3rem;
}

@media screen and (max-width: 780px) {
  #contacts .row .map {
    width: calc(100% - 30px);
  }
}

#contacts .row .contacts {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.33333% - 30px);
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem 3rem;
  font-size: 1.6rem;
}

@media screen and (max-width: 780px) {
  #contacts .row .contacts {
    width: calc(100% - 30px);
  }
}

#contacts .row .contacts hr {
  width: 100%;
  border: none;
  border-bottom: 3px solid #E9E5E1;
  margin: 4rem 0 6rem 0;
}

#contacts .row .contacts .icon-map:before,
#contacts .row .contacts .icon-phone:before {
  display: block;
  text-align: center;
  margin-bottom: 1rem;
}

#contacts .row .contacts .icon-phone:before {
  content: url("../img/contacts/phone.svg");
}

#contacts .row .contacts .icon-map:before {
  content: url("../img/contacts/map-pin.svg");
}

.borders {
  position: relative;
  padding: 1rem;
}

.borders:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 1rem;
  border: 1px solid #D5A353;
}

.slider {
  max-width: 92rem;
  margin: 6rem auto 0;
}

.slider .slider-content {
  min-height: 37rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #fff;
  border: 1px solid #D5A353;
  padding: 2rem;
}

.slider .slider-content .img-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
}

.slider .slider-content .content {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 300px;
          flex: 2 1 300px;
  margin-left: 8rem;
  margin-right: 1rem;
}

@media screen and (max-width: 560px) {
  .slider .slider-content .content {
    margin-left: 0;
  }
}

.slider .slider-content .title {
  color: #D5A353;
  margin-top: 3rem;
  margin-bottom: 0;
}

.slider .slider-content .sub {
  font-size: 1.2rem;
  color: #7E7A78;
  margin-bottom: 2.5rem;
}

.slider .slider-content .text {
  min-height: 16rem;
  margin-bottom: 1rem;
}

.slider .slider-content .instagram {
  padding: .6rem;
  background-color: #D5A353;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s;
  transition: .3s;
}

.slider .slider-content .instagram:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

#subscribe {
  background: #191514 url("../img/subscribe-bg.jpg") center/cover no-repeat;
  color: #fff;
}

#subscribe p {
  color: #fff;
}

#subscribe .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#subscribe .row .column-1 {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 300px;
          flex: 3 1 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#subscribe .row .column-1 .scissors {
  margin-right: 2rem;
}

#subscribe .row .column-1 .h2 {
  margin-bottom: 2rem;
}

#subscribe .row .column-2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
}

#subscribe .input-wrapper {
  margin-bottom: 2rem;
}

#subscribe-form {
  position: relative;
}

#subscribe-form .privacy {
  position: absolute;
  bottom: -1rem;
  right: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  font-size: 1.2rem;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-dots .slick-active {
  background-color: #D5A353;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin: .5rem;
  padding: 0;
  cursor: pointer;
  background-color: #CACACA;
}

.slick-dots li button {
  font-size: 0;
  opacity: 0;
}

.arrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.arrow.arrow-left {
  left: -1rem;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}

.arrow.arrow-right {
  right: -1rem;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}

@media screen and (max-width: 780px) {
  .arrow {
    display: none !important;
  }
}

.modal {
  position: relative;
  padding: 1rem;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-align: center;
  max-width: 545px;
}

.modal .h4 {
  color: #D5A353;
}

.modal .content {
  padding: 5rem 3rem 4rem 3rem;
  border: 1px solid #D5A353;
}

.modal .head {
  margin-bottom: 3rem;
  border-bottom: 3px solid #E9E5E1;
}

.modal .btn {
  margin-bottom: 1rem;
  padding: 1.3rem 5.5rem;
}

.privacy {
  -webkit-filter: saturate(0);
          filter: saturate(0);
  color: #8C8988;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 560px) {
  .privacy {
    font-size: 1.15rem;
  }
}

.privacy img {
  margin-right: 1rem;
}

.mobile-menu {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 15, 15, 0.8);
  color: #D5A353;
  z-index: 10;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  -webkit-transition: 1s;
  transition: 1s;
}

.mobile-menu .menu li {
  margin-bottom: 2rem;
}

.mobile-menu .menu a {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  color: #D5A353;
  font-size: 3rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mobile-menu.active {
  opacity: 1;
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.empty-space {
  height: 2rem;
  display: block;
}

.block {
  display: block;
}

.md-block {
  display: block;
}

@media screen and (max-width: 960px) {
  .md-block {
    display: inline-block;
  }
}

.sm-block {
  display: block;
}

@media screen and (max-width: 780px) {
  .sm-block {
    display: inline-block;
  }
}

.text-center {
  text-align: center;
}

.primary {
  color: #D5A353;
}

.bold {
  font-family: 'Merriweather', serif;
  font-weight: bold;
}

.gray {
  background-color: #F9F6F2;
}
/*# sourceMappingURL=style.css.map */