@import url("https://fonts.googleapis.com/css?family=Merriweather:700|Open+Sans&display=swap&subset=cyrillic");
body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img, abbr {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

iframe,
figure {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  margin: 0;
  overflow-x: hidden;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  font-family: 'Merriweather', serif;
  font-weight: bold;
}

.h1, h1,
.h2, h2
.h3, h3,
.h4, h4 {
  text-transform: uppercase;
}

.h1, h1 {
  font-size: 7vh;
}

@media screen and (max-width: 960px) {
  .h1, h1 {
    font-size: 5vh;
  }
}

@media screen and (max-width: 780px) {
  .h1, h1 {
    font-size: 3.8vh;
  }
}

.h2, h2 {
  font-size: 3.7vh;
}

@media screen and (max-width: 780px) {
  .h2, h2 {
    font-size: 3vh;
  }
}

.h2.primary-style, h2.primary-style {
  text-align: center;
}

.h2.primary-style:before, .h2.primary-style:after, h2.primary-style:before, h2.primary-style:after {
  display: inline-block;
  vertical-align: middle;
}

.h2.primary-style:before, h2.primary-style:before {
  content: url("../img/icons/qoute-left.svg");
  margin-right: 1rem;
}

.h2.primary-style:after, h2.primary-style:after {
  content: url("../img/icons/qoute-right.svg");
  margin-left: 1rem;
}

.h3, h3 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.h4, h4 {
  font-size: 1.8rem;
}

ul {
  list-style-type: none;
  color: #42403F;
}

p {
  color: #42403F;
  margin-bottom: 2rem;
}

.section {
  padding: 10rem 0;
  position: relative;
}

.section .subtitle {
  max-width: 35rem;
  margin: 2rem auto 5rem auto;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-weight: bold;
}

.img-wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 100%;
}

.container {
  max-width: 1410px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 780px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.container-full {
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 780px) {
  .container-full {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.btn {
  display: inline-block;
  text-align: center;
  font-size: 1.2rem;
  text-transform: uppercase;
  max-width: 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

.btn-primary {
  background-color: #D5A353;
  color: #191514;
  padding: 2.2rem 1rem;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  min-width: 35rem;
}

@media screen and (max-width: 960px) {
  .btn-primary {
    min-width: unset;
  }
}

navbar {
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 2rem 0;
}

@media screen and (max-width: 780px) {
  navbar {
    padding: 1rem 0;
  }
}

navbar .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

navbar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100px;
          flex: 1 1 100px;
  max-width: 65rem;
}

@media screen and (max-width: 1100px) {
  navbar .menu {
    display: none;
  }
}

navbar .menu li a {
  font-size: 1.1rem;
  margin: 1.5rem;
  color: #fff;
  text-transform: uppercase;
  opacity: .7;
  -webkit-transition: .3s;
  transition: .3s;
}

navbar .menu li a:hover {
  opacity: 1;
}

navbar .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 1100px) {
  navbar .info {
    display: none;
  }
}

navbar .info .primary-text {
  margin-bottom: 0.2rem;
}

.primary-text {
  color: #D5A353;
  font-size: 1.6rem;
}

.img-wrapper img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

header {
  background: #0F0F0F url("../img/banner_home.jpg") center/cover no-repeat;
  min-height: 100vh;
  text-align: center;
  color: #fff;
}

header p {
  color: #fff;
}

header .h1 {
  color: #D5A353;
  margin-top: 7vh;
  margin-bottom: 1rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header .h1 .normal {
  text-transform: none;
}

header .subtitle {
  font-size: 2.2vh;
  font-family: 'Merriweather', serif;
  font-weight: bold;
}

header .features {
  margin: 3.7vh -1.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 560px) {
  header .features {
    margin: 3.7vh 0;
  }
}

@media screen and (max-width: 560px) {
  header .features {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

header .features .feature {
  margin: 3vh;
}

@media screen and (max-width: 560px) {
  header .features .feature {
    margin: 1vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: left;
  }
}

header .features .img-wrapper {
  height: 8.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 560px) {
  header .features .img-wrapper {
    margin-right: 2rem;
    margin-bottom: 0;
    width: 5rem;
  }
  header .features .img-wrapper img {
    width: 100%;
  }
}

header .btn {
  margin-top: 3rem;
  padding: 2.2rem 9rem;
  margin-bottom: 5rem;
}

@media screen and (max-width: 960px) {
  header .btn {
    padding: 1.5rem 2rem;
  }
}

.logo {
  height: 6.2rem;
}

@media screen and (max-width: 780px) {
  .logo {
    height: 4.4rem;
  }
}

.logo-image {
  height: 100%;
}

.logo-text {
  height: 100%;
}

@media (max-width: 360px) {
  .logo-text {
    display: none;
  }
}

.burger {
  cursor: pointer;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: none;
  z-index: 50;
}

@media screen and (max-width: 1100px) {
  .burger {
    display: block;
  }
}

.burger .line {
  fill: none;
  -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #D5A353;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.burger .top {
  stroke-dasharray: 40 82;
}

.burger .middle {
  stroke-dasharray: 40 111;
}

.burger .bottom {
  stroke-dasharray: 40 161;
}

.burger.active .top {
  stroke-dasharray: 17 82;
  stroke-dashoffset: -62px;
}

.burger.active .middle {
  stroke-dashoffset: 23px;
}

.burger.active .bottom {
  stroke-dashoffset: -83px;
}

.burger.active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.scissors:before {
  content: url("../img/icons/scissors.svg");
  margin-bottom: 2rem;
  display: block;
  text-align: center;
}

#teachers .container {
  position: relative;
}

#teachers.bg-straight-razor:before {
  z-index: 0;
}

.teachers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.teachers .teacher {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10rem;
}

@media screen and (max-width: 780px) {
  .teachers .teacher {
    width: calc(100% - 30px);
  }
}

.teachers .teacher .img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5rem;
  width: 100%;
  height: 46.6rem;
}

@media screen and (max-width: 780px) {
  .teachers .teacher .img-wrapper {
    height: auto;
  }
}

.teachers .teacher .img-wrapper img {
  max-width: 100%;
}

.teachers .teacher .h3 {
  text-transform: uppercase;
}

ul.primary-style li {
  margin-bottom: 1rem;
  margin-left: 2.5rem;
}

ul.primary-style li:before {
  content: '';
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 1rem;
  display: inline-block;
  background-color: #D5A353;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-left: -2.3rem;
}

.bg-item {
  position: absolute;
  z-index: -1;
}

@media screen and (max-width: 780px) {
  .bg-item {
    display: none;
  }
}

.bg-item.bg-scissors {
  left: 8rem;
  top: 0rem;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.bg-item.bg-straight-razor {
  left: 50%;
  top: 20%;
  z-index: 0;
  -webkit-transform: translateX(-50%) scale(0.9);
          transform: translateX(-50%) scale(0.9);
}

.bg-item.bg-tambourine {
  top: 0rem;
  right: 8rem;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.simpleParallax {
  overflow: visible !important;
}

#no-bullshit {
  padding-top: 0;
  padding-bottom: 0;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 15, 15, 0.8);
  color: #D5A353;
  z-index: 10;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

.mobile-menu .menu li {
  margin-bottom: 2rem;
}

.mobile-menu .menu a {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  color: #D5A353;
  font-size: 3rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mobile-menu.active {
  opacity: 1;
  visibility: visible;
}

.block {
  display: block;
}

.md-block {
  display: block;
}

@media screen and (max-width: 960px) {
  .md-block {
    display: inline-block;
  }
}

.sm-block {
  display: block;
}

@media screen and (max-width: 780px) {
  .sm-block {
    display: inline-block;
  }
}

.text-center {
  text-align: center;
}

.primary {
  color: #D5A353;
}

.bold {
  font-family: 'Merriweather', serif;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */