@import url('https://fonts.googleapis.com/css?family=Merriweather:700|Open+Sans&display=swap&subset=cyrillic');

// 12 column grid
@import 'partials/smart-grid';
// Normalize
@include reset();

//Vars
$primary: #D5A353;
$white: #fff;
$black: #191514;
$gray: #42403F;

$input-color: #7E7E7E;

$navbar-breakpoint: 1199px;

// Base
*,
*:before,
*:after {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

iframe,
figure {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    margin: 0;
    overflow-x: hidden;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
    font-family: 'Merriweather', serif;
    font-weight: bold;
}

.h1, h1,
.h2, h2 
.h3, h3,
.h4, h4 {
    text-transform: uppercase;
}

.h1, h1 {
    font-size: 7vh;
    @include md(font-size, 5vh);
    @include sm(font-size, 3.8vh);
}
.h2, h2 {
    font-size: 3.7vh;
    @include sm(font-size, 3vh);
    &.primary-style {
        text-align: center;
        &:before,
        &:after {
            display: inline-block;
            vertical-align: middle;
        }
        &:before {
            content: url('../img/icons/qoute-left.svg');
            margin-right: 1rem;
        }
        &:after {
            content: url('../img/icons/qoute-right.svg');
            margin-left: 1rem;
        }
    }
}
.h3, h3 {
    font-size: 2.4rem;
    margin-bottom: 2rem;
}
.h4, h4 {
    font-size: 1.8rem;
}

ul {
    list-style-type: none;
    color: $gray;
}

p {
    color: $gray;
    margin-bottom: 2rem;
}

.section {
    padding: 10rem 0;
    position: relative;
    .subtitle {
        max-width: 35rem;
        margin: 2rem auto 5rem auto;
        text-align: center;
        font-family: 'Merriweather', serif;
        font-weight: bold;
        
    }
}

.img-wrapper img {
    object-fit: cover;
    max-height: 100%;
}

.container {
    @include wrapper();
}

.container-full {
    @include wrapper-full();
}

//btn
.btn {
    display: inline-block;
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;   

    max-width: 100%;
    
    transition: .3s;
    &:hover {
        filter: brightness(1.2);
    }
}
.btn-primary {
    background-color: $primary;
    color: $black;
    padding: 2.2rem 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    min-width: 35rem;
    @include md(min-width, unset);
}

//navbar
navbar {
    display: block;
    border-bottom: 1px solid rgba($white, .1);
    padding: 2rem 0;
    @include sm(padding, 1rem 0);
    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex: 1 1 100px;
        max-width: 65rem;
        @include lg(display, none);
        li {
            a {
                font-size: 1.1rem;
                margin: 1.5rem;
                color: $white;
                text-transform: uppercase;
                opacity: .7;
                transition: .3s;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    .info {
        display: flex;
        @include lg(display, none);
        flex-direction: column;
        align-items: flex-end;
        .primary-text {
            margin-bottom: 0.2rem;
        }
    }
}
.primary-text {
    color: $primary;
    font-size: 1.6rem;
}
.img-wrapper {
    img {
        max-width: 100%;
        object-fit: contain;
    }
}

//header
header{
    background: #0F0F0F url('../img/banner_home.jpg') center  / cover no-repeat;
    min-height: 100vh;
    text-align: center;
    color: $white;
    p {
        color: $white;
    }
    .h1 {
        color: $primary;
        margin-top: 7vh;
        margin-bottom: 1rem;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        .normal {
            text-transform: none;
        }
    }
    .subtitle {
        font-size: 2.2vh;
        
        font-family: 'Merriweather', serif;
        font-weight: bold;
    }
    .features {
        margin: 3.7vh -1.5vh;
        @include xs(margin, 3.7vh 0);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @include xs-block() {
            justify-content: flex-start;
        };

        .feature {
            margin: 3vh;
            @include xs-block() {
                margin: 1vh;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                text-align: left;
            };
        }
        .img-wrapper {
            height: 8.8rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1.5rem;
            @include xs-block() {
                margin-right: 2rem;
                margin-bottom: 0;
                width: 5rem;
                img {
                    width: 100%;
                }
            };
        }
        
    }
    .btn {
        margin-top: 3rem;
        padding: 2.2rem 9rem;
        @include md(padding, 1.5rem 2rem);
        margin-bottom: 5rem;
    }
}

//logo 
.logo {
    height: 6.2rem;
    @include sm(height, 4.4rem);
    &-image {
        height: 100%;
    }
    &-text {
        height: 100%;
        @media (max-width: 360px) {
            display: none;
        }
    }
}

// Burger
.burger {
    cursor: pointer;
    transition: transform 400ms;
    user-select: none;
    display: none;
    z-index: 50;
    @include lg(display, block);
    .line {
        fill:none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke: $primary;
        stroke-width:5.5;
        stroke-linecap:round;
    }
    .top {
        stroke-dasharray: 40 82;
    }
    .middle {
        stroke-dasharray: 40 111;
    }
    .bottom {
        stroke-dasharray: 40 161;
    }
    &.active .top {
        stroke-dasharray: 17 82;
        stroke-dashoffset: -62px;
    }
    &.active .middle {
        stroke-dashoffset: 23px;
    }
    &.active .bottom {
        stroke-dashoffset: -83px;
    }
    &.active {
        transform: rotate(45deg);
    }
}

//teachers
.scissors {
    &:before {
        content: url('../img/icons/scissors.svg');
        margin-bottom: 2rem;
        display: block;
        text-align: center;
    }
}
#teachers {
    .container {
        position: relative;
    }
    &.bg-straight-razor:before {
        z-index: 0;
    }
}
.teachers {
    @include row-flex();
    .teacher {
        @include col();
        @include size(6);
        @include size-sm(12);

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10rem;
        .img-wrapper {
            display: flex;
            justify-content: center;
            margin-bottom: 5rem;
            width: 100%;
            height: 46.6rem;
            @include sm(height, auto);
            img {
                max-width: 100%;
            }
        }
        .h3 {
            text-transform: uppercase;
        }
    }
}
ul.primary-style {
    li {
        margin-bottom: 1rem;
        margin-left: 2.5rem;
        &:before {
            content: '';
            width: 1.2rem;
            height: 1.2rem;
            margin-right: 1rem;
            display: inline-block;
            background-color: $primary;
            transform: rotate(45deg);
            margin-left: -2.3rem;
        }
    }
}

.bg-item {
    position: absolute;
    z-index: -1;
    @include sm(display, none);

    &.bg-scissors {
        left: 8rem;
        top: 0rem;
        transform: scale(.8);
    }
    &.bg-straight-razor {
        left: 50%;
        top: 20%;
        z-index: 0;
        transform: translateX(-50%) scale(.9);
    }
    &.bg-tambourine {
        top: 0rem;
        right: 8rem;
        transform: scale(.8);
    }
}
.simpleParallax {
    overflow: visible!important;
}
#no-bullshit {
    padding-top: 0;
    padding-bottom: 0;
}


// Mobile menu 
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#0F0F0F, .8);
    color: $primary;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
    .menu {
        li {
            margin-bottom: 2rem;
        }
        a{
            font-family: 'Merriweather', serif;
            font-weight: bold;
            color: $primary;
            font-size: 3rem;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
    &.active {
        opacity: 1;
        visibility: visible;
    }
}

// Utilities
.block {
    display: block;
}
.md-block {
    display: block;
    @include md(display, inline-block);
}
.sm-block {
    display: block;
    @include sm(display, inline-block);
}
.text-center {
    text-align: center;
}
.primary {
    color: $primary;
}
.bold {
    font-family: 'Merriweather', serif;
    font-weight: bold;
}

