@import url('https://fonts.googleapis.com/css?family=Merriweather:700|Open+Sans&display=swap&subset=cyrillic');

// 12 column grid
@import 'partials/smart-grid';
// Normalize
@include reset();

//Vars
$primary: #D5A353;
$white: #fff;
$black: #191514;
$gray: #42403F;

$input-color: #7E7E7E;

$navbar-breakpoint: 1199px;

// Base
*,
*:before,
*:after {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

iframe,
figure {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    margin: 0;
    overflow-x: hidden;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
    font-family: 'Merriweather', serif;
    font-weight: bold;
}

.h1, h1,
.h2, h2 
.h3, h3,
.h4, h4 {
    text-transform: uppercase;
}

.h1, h1 {
    font-size: 7vh;
    @include md(font-size, 5vh);
    @include sm(font-size, 3.8vh);
}
.h2, h2 {
    font-size: 3.7vh;
    @include sm(font-size, 3vh);
    &.primary-style {
        text-align: center;
        &:before,
        &:after {
            display: inline-block;
            vertical-align: middle;
        }
        &:before {
            content: url('../img/icons/qoute-left.svg');
            margin-right: 1rem;
        }
        &:after {
            content: url('../img/icons/qoute-right.svg');
            margin-left: 1rem;
        }
    }
}
.h3, h3 {
    font-size: 2.4rem;
    margin-bottom: 2rem;
}
.h4, h4 {
    font-size: 1.8rem;
}

ul {
    list-style-type: none;
    color: $gray;
}

p {
    color: $gray;
    margin-bottom: 2rem;
}

.section {
    padding: 10rem 0;
    position: relative;
    .subtitle {
        max-width: 35rem;
        margin: 2rem auto 5rem auto;
        text-align: center;
        font-family: 'Merriweather', serif;
        font-weight: bold;
        &.wide {
            max-width: 63rem;
        }
    }
    .container {
        position: relative;
    }
}

.img-wrapper img {
    object-fit: cover;
    max-height: 100%;
}

.container {
    @include wrapper();
}

.container-full {
    @include wrapper-full();
}

//btn
.btn {
    display: inline-block;
    text-align: center;
    font-size: 1.2rem;
    text-transform: uppercase;  
    border: none; 

    max-width: 100%;
    cursor: pointer;
    
    transition: .3s;
    
    &.btn-primary,
    &.btn-black {
        padding: 2.2rem 1rem;
        box-shadow: 0px 4px 4px rgba(193, 146, 70, 0.25);
        min-width: 35rem;
        @include md(min-width, unset);
    }
    &.btn-black {
        background-color: $black;
        color: $white;
    }
    &.btn-primary {
        background-color: $primary;
        color: $black;
        &:hover {
            filter: brightness(1.2);
        }
    }
    &.btn-inverse {
        padding: 1.2rem 2rem;
        background-color: transparent;
        border: 1px solid $primary;
        color: $primary;
        &:hover {
            background-color: $primary;
            color: $white;
        }
    }
    &.btn-block {
        display: block;
        width: 100%;
    }
    &.btn-sm {
        padding: 1rem 3.7rem;
        min-width: unset;
    }
}

//
.input-wrapper {
    &.user-icon,
    &.mail-icon,
    &.phone-icon {
        &:before {
            display: inline-block;
            width: 2.4rem;
            height: 2.4rem;
            margin: 0 1.5rem;
            filter: saturate(0);
            transition: .3s;
        } 
    }
    &.user-icon {
        &:before {
            content: url("../img/icons/user.svg");
        }
    }
    &.mail-icon {
        &:before {
            content: url("../img/icons/mail.svg");
        }
    }
    &.phone-icon {
        &:before {
            content: url("../img/icons/phone.svg");
        }
    }

    margin-bottom: 4rem;
    font-size: 1.6rem;
    text-align: left;
    border-bottom: 1px solid $primary;
    padding: .5rem 0;
    display: flex;
    position: relative;
    &:hover {
        &:before {
            filter: saturate(1);
        } 
    }

    
    input {
        border: none;
        width: 100%;
        background: transparent;
    }
}

//navbar
navbar {
    display: block;
    border-bottom: 1px solid rgba($white, .1);
    padding: 2rem 0;
    @include sm(padding, 1rem 0);
    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex: 1 1 100px;
        max-width: 65rem;
        @include lg(display, none);
        li {
            a {
                font-size: 1.1rem;
                margin: 1.5rem;
                color: $white;
                text-transform: uppercase;
                opacity: .7;
                transition: .3s;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    .info {
        display: flex;
        @include lg(display, none);
        flex-direction: column;
        align-items: flex-end;
        .primary-text {
            margin-bottom: 0.2rem;
        }
    }
}
.primary-text {
    color: $primary;
    font-size: 1.6rem;
}
.img-wrapper {
    img {
        max-width: 100%;
        object-fit: contain;
    }
}

//header
header{
    background: #0F0F0F url('../img/banner_home.jpg') center  / cover no-repeat;
    min-height: 100vh;
    text-align: center;
    color: $white;
    p {
        color: $white;
    }
    .h1 {
        color: $primary;
        margin-top: 7vh;
        margin-bottom: 1rem;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        .normal {
            text-transform: none;
        }
    }
    .subtitle {
        font-size: 2.2vh;
        
        font-family: 'Merriweather', serif;
        font-weight: bold;
    }
    .features {
        margin: 3.7vh -1.5vh;
        @include xs(margin, 3.7vh 0);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @include xs-block() {
            justify-content: flex-start;
        };

        .feature {
            margin: 3vh;
            @include xs-block() {
                margin: 1vh;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                text-align: left;
            };
        }
        .img-wrapper {
            height: 8.8rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1.5rem;
            @include xs-block() {
                margin-right: 2rem;
                margin-bottom: 0;
                width: 5rem;
                img {
                    width: 100%;
                }
            };
        }
        
    }
    .btn {
        margin-top: 3rem;
        padding: 2.2rem 9rem;
        @include md(padding, 1.5rem 2rem);
        margin-bottom: 5rem;
    }
}

//logo 
.logo {
    display: flex;
    height: 6.2rem;
    @include sm(height, 4.4rem);
    &-image {
        height: 100%;
    }
    &-text {
        margin-left: 1rem;
        height: 100%;
        @media (max-width: 360px) {
            display: none;
        }
    }
}

// Burger
.burger {
    cursor: pointer;
    transition: transform 400ms;
    user-select: none;
    display: none;
    z-index: 50;
    @include lg(display, block);
    .line {
        fill:none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke: $primary;
        stroke-width:5.5;
        stroke-linecap:round;
    }
    .top {
        stroke-dasharray: 40 82;
    }
    .middle {
        stroke-dasharray: 40 111;
    }
    .bottom {
        stroke-dasharray: 40 161;
    }
    &.active .top {
        stroke-dasharray: 17 82;
        stroke-dashoffset: -62px;
    }
    &.active .middle {
        stroke-dashoffset: 23px;
    }
    &.active .bottom {
        stroke-dashoffset: -83px;
    }
    &.active {
        transform: rotate(45deg);
    }
}

//teachers
.scissors {
    &:before {
        content: url('../img/icons/scissors.svg');
        margin-bottom: 2rem;
        display: block;
        text-align: center;
    }
}
#teachers {
    padding-bottom: 0;
    &.bg-straight-razor:before {
        z-index: 0;
    }
}
.teachers {
    @include row-flex();
    .teacher {
        @include col();
        @include size(6);
        @include size-sm(12);

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10rem;
        .img-wrapper {
            display: flex;
            justify-content: center;
            margin-bottom: 5rem;
            width: 100%;
            height: 46.6rem;
            @include sm(height, auto);
            img {
                max-width: 100%;
            }
        }
        .h3 {
            text-transform: uppercase;
        }
    }
}
ul.primary-style {
    li {
        margin-bottom: 1rem;
        margin-left: 2.5rem;
        &:before {
            content: '';
            width: 1.2rem;
            height: 1.2rem;
            margin-right: 1rem;
            display: inline-block;
            background-color: $primary;
            transform: rotate(45deg);
            margin-left: -2.3rem;
        }
    }
}

//Parallax
.parrallax-speed {
    &-3 {
        transform: scale(.6);
    }
    &-2 {
        transform: scale(.8);
    }
    &-1 {
        transform: scale(.9);
    }
}
.simpleParallax {
    overflow: visible!important;
}

.bg-item {
    position: absolute;
    z-index: 0;
    @include sm(display, none);

    &.left-position {
        left: 8rem;
        top: 0rem;       
    }
    &.center-position {
        left: 50%;
        top: 20%;
        z-index: 0;
        transform: translateX(-50%) scale(.9);
    }
    &.right-position {
        top: 0rem;
        right: 8rem;
        transform: scale(.8);
    }
}

//no-bullshit
#no-bullshit {
    padding-bottom: 0;
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .column-1,
        .column-2 {
            flex: 1 1 300px;
        }
        .column-1 {
            .img-wrapper {
                height: 100%;
                overflow: hidden;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 2.5s;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
        .column-2 {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            background-color: #F9F6F2;
            padding: 10rem 5rem 10rem 5rem;
            .content {
                max-width: 60rem;
                font-size: 1.6rem;
            }
        }
        p {
            margin-bottom: 3rem;
        }
    }
}

//boroda-features
#boroda-features {
    .features {
        text-align: center;
        .lazy {
            @include sm(display, none!important);
        }
        .mobile {
            display: none;
            li {
                margin-bottom: 3rem;
                .h4 {
                    color: $primary;
                    display: block;
                }
                &:before {
                    content: url('../img/icons/plus.svg');
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 2rem;
                    height: 2rem;
                    padding: 2rem;
                    background-color: $primary;
                    border-radius: 50%;
                    margin: 1rem auto;
                }
            }
            @include sm(display, block);
        }
    }
}

//courses
.gray-text {
    font-family: 'Merriweather', serif;
    font-weight: bold;
}
#courses {
    background: linear-gradient(to right, rgba(#191412, .85) 0%, rgba(#191412, .85) 100%), url('../img/couses-bg-compressed.jpg') center / cover;
    color: $white;
    .subtitle {
        max-width: 31rem;
    }
    .gray-text {
        text-align: center;
        opacity: .6;
    }
}
.courses {
    @include row-flex();
    justify-content: center;
    .course {
        @include col();
        @include size(3);
        @include size-lg(12);

        background-color: $white;
        margin-bottom: 3rem;
        max-width: 350px;

        transition: .3s;

        .h4 {
            color: $primary;
            margin-bottom: .5rem;
        }
        
        .head,
        .foot {
            text-align: center;
        }
        .head {
            padding: 2rem;
            height: 12rem;
            border-bottom: 1px solid #E4E4E4;
            p {
                color: #7E7A78;
            }
        }
        .body {
            padding: 2rem 3rem 2rem 2rem;
            li {
                margin-bottom: 2rem;
            }
            min-height: 35rem;
            border-bottom: 1px solid $primary;
            
        }
        .foot {
            height: 12rem;
            margin: 2rem;
            .h4 {
                margin: 2rem 0;
            }
            .btn {
                display: block;
            }
        }
        &:hover {
            transform: translateY(-1rem);
        }
    }
}

//Gallery
.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -.8rem;
    .img-wrapper {
        flex: 1 1 250px;
        margin: .8rem;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .pair {
        display: flex;
        flex-direction: column;
        .img-wrapper {
            height: 15rem;
        }
        @include sm(width, 100%);
    }
}

//employment
#employment {
    @include sm(text-align, center);
    .h2 {
        @include sm(font-size, 2vh);
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 5rem 0 0 0;
        @include sm(margin, 2rem 0);
        .column-1,
        .column-2 {
            margin: 2rem 6.5rem;
            @include sm(margin, 3rem 0);
        }
        .column-1{
            p {
                max-width: 35rem;
                font-size: 1.6rem;
                color: $black;
                margin-bottom: 7rem;
            }
        }
    }
}
//form-section
#form-section {
    .h2 {
        @include sm(font-size, 2vh);
    }
}
.form-style {
    max-width: 55rem;
    margin: auto;
    text-align: center;
    .btn {
        margin-bottom: 2rem;
    }
}

//contacts
#contacts {
    .row {
        margin-top: 5.5rem;
        margin-bottom: -3rem;
        @include row-flex();
        
        .map {
            @include col();
            @include size(7);
            @include size-sm(12);
            height: 44rem;
            padding: 0;
            margin-bottom: 3rem;
        }
        .contacts {
            @include col();
            @include size(4);
            @include size-sm(12);

            margin-bottom: 3rem;

            display: flex;
            flex-direction: column;
            align-items: center;

            padding: 5rem 3rem;
            font-size: 1.6rem;
            hr {
                width: 100%;
                border: none;
                border-bottom: 3px solid #E9E5E1;
                margin: 4rem 0 6rem 0;
            }
            .icon-map:before,
            .icon-phone:before {
                display: block;
                text-align: center;
                margin-bottom: 1rem;
            }
            .icon-phone {
                &:before {
                    content: url('../img/contacts/phone.svg');
                }
            }
            .icon-map {
                &:before {
                    content: url('../img/contacts/map-pin.svg');
                }
            }
        }
    }
}
.borders {
    position: relative;
    padding: 1rem;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        margin: 1rem;
        border: 1px solid $primary;
    }
}

//review
.slider {
    max-width: 92rem;
    margin: 6rem auto 0 ;
    .slider-content {
        min-height: 37rem;
        display: flex;
        flex-wrap: wrap;
        background-color: $white;
        border: 1px solid $primary;
        padding: 2rem;
        .img-wrapper {
            flex: 1 1 200px;
        }
        .content {
            flex: 2 1 300px;
            margin-left: 8rem;
            margin-right: 1rem;  
            @include xs(margin-left, 0);
        }
        .title {
            color: $primary;
            margin-top: 3rem;
            margin-bottom: 0;
        }
        .sub {
            font-size: 1.2rem;
            color: #7E7A78;
            margin-bottom: 2.5rem;
        }
        .text {
            min-height: 16rem;
            margin-bottom: 1rem;
        }
        .instagram {
            padding: .6rem;
            background-color: $primary;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            transition: .3s;
            &:hover {
                filter: brightness(1.2);
            }
        }
    }
}

//subscribe
#subscribe {
    background: $black url("../img/subscribe-bg.jpg") center / cover no-repeat;
    color: $white;
    p {
        color: $white;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .column-1 {
            flex: 3 1 300px;

            display: flex;
            .scissors {
                margin-right: 2rem;
            }
            .h2 {
                margin-bottom: 2rem;
            }
        }
        .column-2 {
            flex: 1 1 300px;
        }
    }
    .input-wrapper {
        margin-bottom: 2rem;
    }
}
#subscribe-form {
    position: relative;
    .privacy {
        position: absolute;
        bottom: -1rem;
        right: 0;
        transform: translateY(100%);
        font-size: 1.2rem;
    }
}

//slick 
.slick-dots {
    display: flex;
    justify-content: center;
    .slick-active {
        background-color: $primary;
    }
    li {
        position: relative;
        display: inline-block;
        width: 1rem;
        height: 1rem;
        margin: .5rem;
        padding: 0;
        cursor: pointer;
        background-color: #CACACA;
        button {
            font-size: 0;
            opacity: 0;
        }
    }
}
.arrow {
    position: absolute;
    top: 50%;
    cursor: pointer;
    &.arrow-left {
        left: -1rem;
        transform: translate(-100%, -50%);
    }
    &.arrow-right {
        right: -1rem;
        transform: translate(100%, -50%);
    }
    @include sm(display, none!important);
}

//
.modal {
    position: relative;
    padding: 1rem;
    border-radius: 0;
    box-shadow: none;
    text-align: center;
    max-width: 545px;
    .h4 {
        color: $primary;
    }
    .content {
        padding: 5rem 3rem 4rem 3rem;
        border: 1px solid $primary;
    }
    .head {
        margin-bottom: 3rem;
        border-bottom: 3px solid #E9E5E1;
    }
    // &:before {
    //     content: '';
    //     position: absolute;
    //     width: 110%;
    //     height: 110%;
    //     background-color: $primar$white;
    // }
    .btn {
        margin-bottom: 1rem;
        padding: 1.3rem 5.5rem;
    }
}
.privacy {
    filter: saturate(0);
    color: #8C8988;
    display: flex;
    align-items: center;
    justify-content: center;
    @include xs(font-size, 1.15rem);
    img {
        margin-right: 1rem;
    }
}

// Mobile menu 
.mobile-menu {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#0F0F0F, .8);
    color: $primary;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    transition: 1s;
    .menu {
        li {
            margin-bottom: 2rem;
        }
        a{
            font-family: 'Merriweather', serif;
            font-weight: bold;
            color: $primary;
            font-size: 3rem;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
    &.active {
        opacity: 1;
        visibility: visible;
        display: flex; 
    }
}

// Utilities
.empty-space {
    height: 2rem;
    display: block;
}
.block {
    display: block;
}
.md-block {
    display: block;
    @include md(display, inline-block);
}
.sm-block {
    display: block;
    @include sm(display, inline-block);
}
.text-center {
    text-align: center;
}
.primary {
    color: $primary;
}
.bold {
    font-family: 'Merriweather', serif;
    font-weight: bold;
}
.gray {
    background-color: #F9F6F2;
}
